//.loading-box{
//  padding-top: calc((100vh - (322px  / 1.8)) / 2);
//}
.loading-page{
  height: 100vh;
  width: 100vw;
}
.loading-show{
  width: 100vw;
  height: calc(100vh - (100vw / 750 * 75));
  background: url("assets/loading.png") no-repeat;
  background-size: 100% 100%;
  z-index: 999;
  padding-top: calc((100% - (100vw / 750 * 75)) / 2);
  overflow: hidden;
}
.loading-logo{
  background: url("assets/loading-mid.gif") no-repeat;
  background-size: 100% 100%;
  width: 40vw;
  height: calc(40vw  / 281 * 322);
  margin: auto;
}
.loading-page-logo {
  background: url("assets/logo.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: calc(100vw / 750 * 75);
}

//@media screen and (max-height: 568px) {
//  .loading-box{
//    padding-top: calc((100vh - 16rem) / 2);
//  }
//}