.answer-page {
    height: 100vh;
    width: 100vw;
    background: url("assets/answer-page-bg.png") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.answer-page-bar{
    background: url("assets/logo.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100vw;
    height: calc(100vw / 750 * 75);
}
.answer-number {
    position: absolute;
    top: calc((100vw / 750 * 75) + 15px);
    font-size: 36px;
    font-weight: bold;
    color: #D72623;
    display: block;
    text-align: center;
    width: 100vw;
}
.answer-page-content {
    height: calc(80vw / 575 * 922);
    width: 80vw;
    margin-left: 10vw;
    background: url("assets/answer-content-bg.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-top: calc((100vh - (80vw / 575 * 922)) / 2);
    .content-put-questions {
        font-weight: bold;
        font-size: 14px;
        color: #ffffff;
    }
    .content-put-answers{
        border: 2px solid #ffffff;
        width: 100%;
        height: 12vh;
        margin-top: 3vh;
        font-size: 0;
        display: block;
        .answers-e {
            display: inline-block;
            vertical-align: top;
            width: 25%;
            font-size: 18px;
            color: #ffffff;
            font-weight: bold;
            text-align: center;
            line-height: 12vh;
            text-transform: capitalize;
        }
        .answers-m{
            display: inline-block;
            vertical-align: top;
            width: 75%;
            background: url("assets/text-img1.png") no-repeat;
            background-size: 100% 100%;
            background-position: center;
            height: calc(12vh - 4px);
        }
    }
}
.page-content-padding {
    width: 65%;
    margin-left: 17.5%;
    padding-top: calc((100vh - 65vh) / 2);
}

@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
    .page-content-padding {
        padding-top: 12vh;
    }
    .answer-page-content .content-put-questions{
        font-size: 12px;
    }
}

@media screen and (max-height: 568px) {
    .answer-page-content .content-put-questions{
        font-size: 10px;
    }
    .answer-number{
        font-size: 24px;
        top: calc((100vw / 750 * 75) + 5px);
    }
}