extends ../../modules/html-templates/base.pug

block title
    title 汉莎航空Lufthansa
block content
    div.answer-page
        .answer-page-bar
        span.answer-number 1
        .answer-page-content
            .page-content-padding
                span.content-put-questions 乘坐飞机，你会选择无电源插座的座位闭目养神（图A）还是选择有电源插座的座位为自己持续充电（图B）？
                a.content-put-answers
                    span.answers-e a
                    span.answers-m
                a.content-put-answers
                    span.answers-e b
                    span.answers-m
