.main-page {
    height: 100vh;
    width: 100vw;
    background: url("assets/main-page-bg.png") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.main-page-bar{
    background: url("assets/logo.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100vw;
    height: calc(100vw / 750 * 75);
}
.main-page-title{
    color: #D81F07;
    text-align: center;
    margin-top: 2vh;
    .title-1{
        font-size: 25px;
        display: inline-block;
        letter-spacing: 5px;
        border-bottom: 1px solid #D81F07;
        padding-bottom: 1vh;
    }
    .title-2{
        padding-top: 1vh;
        font-size: 30px;
        font-weight: bold;
        display: block;
    }
}
.main-page-content {
    width: 100vw;
    position: absolute;
    bottom: 10vh;

}
.content-bottoms-err {
    color: red!important;
    .bottoms-box .radio-box .radio-label{
        border: 1px solid red!important;
    }
}
.content-bottoms {
    color: #ffffff;
    font-size: 12px;
    opacity: .8;
    .bottoms-box {
        width: fit-content;
        margin: auto;
        margin-top: 4vh;
    }
    span {
        display: inline-block;
        vertical-align: middle;
    }
    .radio-title{
        margin-left: 3px;
    }
    .radio-border{
        border-bottom: 1px solid;
        font-weight: bold;
    }
    .radio-box {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-top: 4px;
        label {
            display: inline-block;
            vertical-align: middle;
        }
    }
    input[type="checkbox"] {
        height: 12px;
        width: 12px;
        opacity: 0;
    }
    .radio-label{
        position: absolute;
        left: 0;
        top: 1px;
        width: 12px;
        height: 12px;
        border: 1px solid #ffffff;

    }
    input[type="checkbox"]:checked + .radio-label::after {
        position: absolute;
        content: "√";
        width: 6px;
        height: 6px;
        -webkit-transform: rotate(8deg);
        -moz-transform: rotate(8deg);
        -o-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
        transform: rotate(8deg);
        left: 1px;
        top: -1px;
    }

}
.content-bottom{
    margin: auto;
    text-align: center;
    font-size: 16px;
    margin-top: 5vh;
    .main-c-bottom{
        display: inline-block;
        background: url("assets/main-bottom-bg.png") no-repeat;
        background-size: 100% 100%;
        width: 75vw;
        height: calc(75vw / 482 * 79);
        line-height: calc(75vw / 482 * 79);
        color: #ffffff;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .c-bottoms {
        color: #ffffff;
        width: 58vw;
        margin: auto;
        position: relative;
        margin-top: 5vh;
        font-size: 14px;
        .c-bottom-mid{
            border-bottom: 1px solid #ffffff;
            padding-bottom: 2px;
            color: #ffffff;
        }
    }
}
.main-page-tips{
    display: none;
    .main-tips{
        background: url("assets/tips-bg1.png") no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        background-position: center;
        .main-introduce-content{
            color: #ffffff;
            height: 90vh;
            overflow-x: scroll;
            //padding: 5vh 0 0 0;
            .content-logo{
                background: url("assets/logo.png") no-repeat;
                background-size: 100% 100%;
                background-position: center;
                width: 100vw;
                height: calc(100vw / 750 * 75);
                position: fixed;
            }
            .introduce-head{
                font-weight: 900;
                letter-spacing: 1px;
                display: block;
                font-size: 20px;
                margin-top: 12vh;
                padding: 0 10vw;
                margin-bottom: 3vh;
                position: relative;
                &.head-content{
                    text-align: center;
                }
            }
            .introduce-head::after {
                position: absolute;
                content: '';
                bottom: -3vh;
                height: 2px;
                background: #ffffff;
                width: 80vw;
                display: block;

            }
            .title-scroll{
                margin-top: 3vh;
                padding: 0 10vw;
                letter-spacing: 1px;
                font-size: 14px;
                height: 70vh;
                overflow-x: scroll;
                span {
                    display: inline-block;
                    margin-top: 3vh;
                    p {
                        line-height: 22px;
                    }
                }
                span:last-child{
                    margin-top: 20px;
                    padding-bottom: 40px;
                }
            }
            .introduce-titie{
                padding: 0 10vw;
                letter-spacing: 1px;
                font-size: 14px;
                span {
                    display: inline-block;
                    margin-top: 4vh;
                    p {
                        margin-top: 5px;
                    }
                }
                span:last-child{
                    margin-top: 20px;
                    padding-bottom: 80px;
                }
            }
        }
        .introduce-page-lose{
            position: absolute;
            background: url("assets/main-tips-lose.png") no-repeat;
            background-size: cover;
            display: inline-block;
            width: 30px;
            height: 30px;
            right: 10%;
            top: 12vh;
        }
    }
}