.form-page {
    overflow: auto;
    width: 100vw;
    background: url("assets/form-page-bg.png") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}
.form-page-bar{
    background: url("assets/logo.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100vw;
    height: calc(100vw / 750 * 75);
}
.form-page-content{
    padding: 3vh 20vw;
    .form-page-nums{
        background: url("assets/form-content-bg.png") no-repeat;
        background-size: cover;
        background-position: center;
        width: 60vw;
        height: calc(60vw / 465 * 484);
        text-align: center;
        line-height: calc((60vw / 465 * 484) + 4vw);
        position: relative;
        .form-feiji {
            position: absolute;
            background: url("assets/form-content-feiji.png") no-repeat;
            background-size: cover;
            background-position: center;
            width: 95vw;
            height: calc(95vw / 721 * 180);
            left: -20vw;
            bottom: 0;
        }
        .form-num {
            font-size: 60px;
            font-weight: bold;
            color: #F9CC9B;
        }
        .form-title{
            position: absolute;
            top: calc(60vw / 4.5);
            font-size: 23px;
            font-weight: bold;
            color: #D72623;
            display: block;
            line-height: 23px;
            width: 60vw;
            text-align: center;
        }
    }
}
.form-page-titles{
    height: 45vh;
    width: 100vw;
    text-align: center;
    .form-title1 {
        font-weight: 300;
        display: block;
        font-size: 1.05rem;
        color: #ffffff;
        &.form-top{
            margin-top: 2.5vh;
        }
    }
    .form-title2 {
        display: block;
        margin: 1vh 0;
        font-size: 0;
        span {
            font-weight: bold;
            color: #ffffff;
            font-size: 2rem;
            display: inline-block;
            vertical-align: middle;
            &.title2-icon {
                background: url("assets/form-title-feiji.png") no-repeat;
                background-size: cover;
                background-position: center;
                width: 7vw;
                height: calc(7vw / 40 * 18);
            }
        }
    }
    .form-icon {
        background: url("assets/form-title-xia.png") no-repeat;
        background-size: cover;
        background-position: center;
        width: 5vw;
        height: calc(5vw / 29 * 26);
        display: inline-block;
        margin-top: 3vh;
    }
}
.form-page-place {
    font-size: 0;
    padding: 0 10vw;
    &.place-top {
        margin-top: 3vh;
    }
    .form-place-img {
        display: inline-block;
        vertical-align: middle;
        &.shanghai {
            background: url("assets/form-title-shanghai.png") no-repeat;
            background-size: cover;
            background-position: center;
            width: 8vw;
            height: calc(8vw / 45 * 101);
            margin-right: 6vw;
        }
        &.beijing {
            background: url("assets/form-title-beijing1.png") no-repeat;
            background-size: cover;
            background-position: center;
            width: 10vw;
            height: calc(10vw / 78 * 64);
            margin-right: 4vw;
        }
    }
    .form-place-title{
        display: inline-block;
        vertical-align: middle;
        color: #ffffff;
        .place-title1 {
            display: block;
            //margin-top: .5vh;
            font-size: 12px;
        }
        .place-title2 {
            display: block;
            margin-top: 1vh;
            font-size: 12px;
        }
    }
}
.form-content {
    padding: 0 10vw;
    margin-top: 5vh;
    text-align: center;
    .form-list-title{
        font-size: 14px;
        color: #ffffff;
        opacity: .9;
        display: block;
        &.title-top {
            margin-top: .5vh;
        }
    }
}
.from-input{
    margin-top: 5vh;
    width: 100%;
    position: relative;
    input {
        background: url("assets/form-input.png") no-repeat;
        background-size: 100% 100%;
        padding: 4vh 5vw;

        font-size: 1rem;
        width: 80vw;
        height: calc(80vw / 594 * 93);
        border: 0;
        border-radius: 0;
        -webkit-appearance : none ;
        color: #FFFFFF;
    }
    input:focus::-webkit-input-placeholder{
        text-indent: -999em;
        z-index: -20;
    }
    input.input-error{
        color: red;
    }
    input.input-error::-webkit-input-placeholder { /* WebKit browsers */
        color: red;
    }
    input.input-error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: red;
    }
    input.input-error::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: red;
    }
    input.input-error:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: red;
    }
    input::-webkit-input-placeholder { /* WebKit browsers */
        color: #FFFFFF;
    }
    input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #FFFFFF;
    }
    input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #FFFFFF;
    }
    input:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #FFFFFF;
    }
}
.form-list-bottom{
    background: url("assets/form-bottom.png") no-repeat;
    background-size: 100% 100%;
    width: 50vw;
    height: calc(50vw / 371 * 102);
    display: inline-block;
    margin: 10vh 15vw;
    color: #ffffff;
    line-height: calc(50vw / 371 * 102);
    text-align: center;
    letter-spacing: 3px;
    font-size: 16px;
}
.form-loading {
    background: rgba(0, 0, 0, .8);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    .form-weixin {
        width: 70vw;
        height: 60vh;
        background-color: #A91905;
        margin: 20vh 15vw;
        text-align: center;
        color: #ffffff;
        font-size: 12px;
        padding-top: 5vh;
        display: none;
        .weixin-title{
            margin-top: 2vh;
            letter-spacing: 2px;
        }
    }
    .loading-img {
        background: url("assets/common_loading.gif") no-repeat;
        background-size: cover;
        width: 30vw;
        height: calc(30vw / 228 * 174);
        margin-left: 35vw;
        margin-top: calc(50vh - (30vw / 228 * 174));
        display: none;
    }
    .form-fenxiang {
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
        padding: 3vh 5vw;
        display: none;
        .fenxiang-title{
            display: block;
            color: #ffffff;
            font-size: 13px;
            margin-top: .5vh;
            letter-spacing: 1.5px;
        }
        .fenxiang-icon{
            background: url("assets/weixin-fenxiang.png") no-repeat;
            background-size: cover;
            background-position: center;
            width: 5vw;
            height: calc(5vw / 32 * 32);
            display: inline-block;
        }
    }
    &.weixin-on {
        display: block!important;
        .form-weixin{
            display: block!important;
        }
        .form-fenxiang {
            display: block!important;
        }
    }
    &.loading-on {
        display: block!important;
        .loading-img{
            display: block!important;
        }
    }
}
.img-style {
    background: url("assets/form-code.png") no-repeat;
    width: 35vw;
    height: 35vw;
    margin-top: 5vh;
}
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
    .form-page-content {
        padding: 5vh 20vw;
    }
}

@media screen and (max-height: 568px) {
    .form-page-content .form-page-nums .form-title {
        font-size: 20px;
    }
    //.form-page-titles .form-title1 {
    //    font-size: 1.05rem;
    //}
    .form-page-titles .form-title2 {
        font-size: 1.4rem;
    }
    .form-loading .form-weixin {
        font-size: 11px;
    }
    .img-style{
        width: 30vw;
        height: 30vw;
    }
    .form-page-place .form-place-title .place-title1 {
        font-size: 11px;
    }
    .form-page-place .form-place-title .place-title2 {
        font-size: 11px;
    }
}