extends ../../modules/html-templates/base.pug

block title
    title 汉莎航空Lufthansa
block content
    div.form-loading(data-item="give-loading")
        div.loading-img
        div.form-fenxiang
            span.fenxiang-icon
            span.fenxiang-title 邀请好友来玩
            span.fenxiang-title 中奖几率翻番
        div.form-weixin
            p.weixin-title 感谢您参加活动
            p.weixin-title 获奖名单将会在微信公众号上公布
            p.weixin-title 关注我们,随时了解获奖信息.
            img(src="http://10.148.60.96:8080/images/form-code.png" class="img-style")
    div.form-page
        .form-page-bar
        .form-page-content
            .form-page-nums
                span.form-feiji
                span.form-num 0%
                span.form-title 您的优选指数是
        .form-page-titles
            span.form-title1 被评选为
            div.form-title2
                span.title2-icon
                span 云端优选小白
                span.title2-icon
            span.form-title1 我们为你匹配了优选经济舱,
            span.form-title1 不够优选的你更要优选飞行!
            span.form-title1.form-top 参与线下活动
            span.form-title1 赢取免费优选经济舱机票
            span.form-icon(data-click="form-icon")
        .form-page-place
            div.form-place-img.shanghai
            div.form-place-title
                span.place-title1 上海站
                span.place-title2 活动时间: 7月28日至7月29日 11:30 - 20:30
                span.place-title2 活动地点: 上海兴业太古汇
        .form-page-place.place-top
            div.form-place-img.beijing
            div.form-place-title
                span.place-title1 北京站
                span.place-title2 活动时间: 8月11日至8月12日 11:30 - 20:30
                span.place-title2 活动地点: 北京东方新天地 3/F 第五区中庭
        .form-content
            span.form-list-title 填写个人信息
            span.form-list-title.title-top 赢取奥地利航空定制礼包和飞机模型！
            div.form-list
                div.from-input
                    input(data-from="name" placeholder="姓名")
                div.from-input
                    input(data-from="phone" placeholder="电话")
            div.form-list-bottom(data-click='bottom') 提交





